.userTable {
    margin-top: 20px;
  }
  
  .tableHeader {
    background-color: #F29F05;
    color: white;
  }
  
  .statusToggle {
    border: none;
    background: none;
  }

  #ativo {
    color: #7C8C03; 
    font-size: 1.6rem;
  }
  
  #inativo {
    color: #A60303;
    font-size: 1.6rem;
  }
  
  .actionButton {
    border: none;
    background: none;
  }
  
  #editIcon {
    color: #7C8C03;
    font-size: 1.4rem;
  }
  
  #deleteIcon {
    color: #A60303;
    font-size: 1.4rem;
  }
  
  .actionButton:hover .editIcon {
    color: #6f7c02; 
  }
  
  .actionButton:hover .delete-icon {
    color: #8b0202; 
  }
  
  .adminPageContainer{
    background-color: #F2F2F2;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 100%;
    margin: 40px auto;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .cadastrarButton {
    background-color: #7C8C03;
    color: white;
    padding: 5px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .cadastrarButton:hover {
    background: #F2F2F2;
    color: #7C8C03;
    border: #7C8C03 1px solid;
  }
  
  .barraTitulo {
    background-color: #F29F05;
    color: white;
    padding: 3px;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 10px;
  }

  .msgVazia {
    display: flex;
    justify-content: center; 
    align-items: center;   
    text-align: center;     
    margin: 20px 0;        
    padding: 20px;      
    color: #6f7c02; 
    font-size: 18px;       
  }

  .NavOption{
    position: sticky;
    top: 0;
    width: 100%;
    background: #F29F05;
  }

  .buttonScroll{
    background-color: #F29F05;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin: 0px 10px;
  }

  .linkScroll{
    text-decoration: none;
    color: white;
  }

  .SpanScroll{
    margin: 0 10px;
    color: #F2F2F2;
    font-weight: bold;
  }

  tr > th{
    text-align: center;
  }

  tr > td{
    text-align: center;
  }

  .ButtonAcesso{
    background-color: #7C8C03;
    color: white;
    width: 200px;
    padding: 15px 0px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
  }

  .buttonAcessoMini{
    background-color: #7C8C03;
    color: white;
    width: 150px;
    padding: 15px 0px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    margin: 0 auto;
  }

  .Colunas{
    width: 30%;
    margin: 20px;
  }

  @media screen and (max-width: 1100px) {
    .ImgCaixa, .ImgSacola{
      display: none;
    }
  }

  @media screen and (max-width: 767px) {
    .MobileOcult{
      display: none;
    }

    .ButtonAcesso{
      background-color: #7C8C03;
      color: white;
      width: 150px;
      padding: 15px 0px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      font-weight: bold;
      margin: 10px;
    }

    .Colunas{
      width: 40%;
      margin: 20px;
    }
  }

  /*-------- Painel Produtos ------*/
  .ContainerSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 30dvh;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.1);
    margin: 10px;
    background: white;
  }

  .MiniContainerSection{
    height: 30dvh;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.1);
    margin: 10px;
    background: white;
    flex: 1 1 300px;
    box-sizing: border-box;
  }

  .MiniContainerSection:hover, .ContainerSection:hover{
    box-shadow: 0px 4px 4px 3px rgba(124, 140, 3, 0.5);
  }

  .ImgSacola{
    height: 28dvh;
    border-radius: 0px 20px 20px 0px;
  }

  .ImgCaixa{
    height: 28dvh;
    border-radius: 20px 0px 0px 20px;
  }

  .Colunas > h5{
    color: #7C8C03;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }

  .EstiloTexto {
    text-justify: auto;
    text-align: center;
  }

  .MiniEstiloTexto{
    text-justify: auto;
    text-align: center;
    width: 200px;
    margin: 0 auto;
  }

  .ButtonAcesso:hover, .buttonAcessoMini:hover {
    background: #F2F2F2;
    color: #7C8C03;
    border: #7C8C03 1px solid;
  }

  .tituloMiniCont{
    color: #7C8C03;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 15px 0px;
  }

  .CenterButton{
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .grupoMiniCont{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .iconeAlerta {
    color: #A60303;
    font-size: 4rem;
  }