.userInfo {
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .userInfo p {
    margin: 0;
    padding: 5px 0;
  }
  .Voltar {
    background: #A60303;
    color: #F2F2F2;
    border-radius: 10px;
    padding: 5px 10px;
    margin-top: 10px;
    border: none;
    width: 75px;
  }

  .Voltar:hover {
    background-color: #F2F2F2;
    border: #A60303 1px solid;
    color: #A60303;
  }
  .Editar {
    background: #7C8C03;
    color: #F2F2F2;
    border-radius: 10px;
    padding: 5px 10px;
    margin-top: 10px;
    border: none;
    width: 75px;
  }

  .Editar:hover {
    background-color: #F2F2F2;
    border: #6f7c02 1px solid;
    color: #6f7c02;
  }

  .TituloDetalhes{
    font-size: 20px;
    font-weight: bold;
    color: #7C8C03;
  }

  .inputField{
    min-width: 300px;
    padding: 5px;
    margin: 5px 0;
    border: none;
  }

  .label{
    color: #7C8C03;
    font-weight: bold;
    margin: 0px 5px;
  }