table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;

}

tr>th{
    background-color: #7C8C03;
    color: white;
    text-align: center;
    padding: 5px 10px;
}

tr>td{
    text-align: center;
    padding: 5px 10px;
}

.inputSearch{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #7C8C03;
    padding: 0 10px;
    margin-bottom: 10px;
}

.btnStatus{
    background: none;
    border: none;
    font-size: 2rem;
    color: #7C8C03;
    width: 100%;
}

.btnTrash{
    background: none;
    border: none;
    font-size: 2rem;
    color: #A83C01;
    width: 100%;
}