html {
    font-size: 14px;
  }

  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  
html {
    position: relative;
    min-height: 100%;
}
  
body {
    margin-bottom: 60px;
    background: #2F2F2F;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Merienda", Times, serif;
}

p, span, a, li, label, input, textarea, select, button, i{
    font-family: "Ubuntu", Tahoma, Verdana, sans-serif;
}



  