.userTable {
    margin-top: 20px;
  }

  .tableHeader {
    background-color: #F29F05;
    color: white;
    z-index: 10;
    position: sticky; 
    top: 0; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }