/*   Mobile   */
@media screen and (max-width: 767px){
  .foto, .userData, .Categorias, .logo, .Voltar, .CategoriasButtonAtivo, .CategoriasButton {
    display: none;
  }

  .CategoriasContainer{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom: 0;
    background: #F2F2F2;
    width: 100%;
    height: 13dvh;
    border-radius: 10px 10px 0px 0px;
    border: 1px, 0px 0px 0px solid #A60303;
    box-shadow: 0px -5px 18px 0px rgba(0,0,0,0.56);
  }

  .CategoriasButtonM, .CategoriasButtonAtivoM, .VoltarM{
    border: none;
    background: none;
    border-radius: 10px;
    display: block;
    font-size: 2rem;
    margin: 10px;
    padding: 10px;
  }

  .CategoriasButtonAtivoM{
    background: #F2F2F2;
    color: #7C8C03;
    box-shadow: inset 0 0 0 1px #7C8C03;
  }

  .ConteinerSection{
    background: #F2F2F2;
    width: 98%;
    min-height: 84dvh;
    overflow-y: auto;
    padding-bottom: 15dvh;
    margin: 0 1%;
  }

  .nomeNavAtivo{
    color: #7C8C03;
  }
}

/*   Desktop   */
@media screen and (min-width: 768px) {
  .CategoriasButtonM, .CategoriasButtonAtivoM, .VoltarM, .nomeNav {
    display: none;
  }

  .ContainerPai {
    display: flex;
    width: 100%;  
    min-height: 100dvh;
    height: auto;
    box-sizing: border-box; 
  }

  .ContainerAside {
    width: 250px; 
    background: #F2F2F2;
    border-radius: 20px 0px 0px 20px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
  }

  .ConteinerSection {
    flex-grow: 1;
    background-color: #F2F2F2;
    margin-left: 10px; 
    border-radius: 0px 20px 20px 0px;
    box-sizing: border-box;
    flex-direction: column;
  }
  
  .foto {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px auto;
    display: block;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .userData {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .nomeUser {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
  }

  .Categorias {
    color: #F2F2F2;
    background: #F29F05;
    padding: 0 auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
  }

  .CategoriasContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
  }

  .CategoriasButton {
    background: none;
    border: none;
    margin-top: 20px;
  }

  .CategoriasButton:hover{
    color: #7C8C03;
  }

  .CategoriasButtonAtivo {
    background: none;
    border: none;
    margin-top: 20px;
    color: #7C8C03;
  }

  .Voltar {
    background: #A60303;
    color: #F2F2F2;
    border-radius: 10px;
    padding: 5px 20px;
    margin-top: 20px;
    border: none;
    width: 150px;
  }

  .Voltar:hover {
    background-color: #F2F2F2;
    border: #A60303 1px solid;
    color: #A60303;
  }

  .ContainerLogo {
    position: absolute;
    bottom: 0;
    left: 20px;
  }

  .logo {
    width: 200px;
    padding: 5px;
    margin-top: 50px;
  }
}
