.btnRedeSocial{
    align-items: center;
    background: #7C8C03;
    color: white;
    font-size: 2rem;
    padding: 5px 10px;
    margin: 15px 20px;
    border-radius: 10%;
    border: none;
    width: 3.5rem;
    height: 3.5rem;
  }

  .btnRedeSocial:hover{
    background: #6A7A03;
}
