.userTable {
    margin-top: 20px;
  }
  
  .tableHeader {
    background-color: #F29F05;
    color: white;
  }
  
  .statusToggle {
    border: none;
    background: none;
  }

  #ativo {
    color: #7C8C03; 
    font-size: 1.6rem;
  }
  
  #inativo {
    color: #A60303;
    font-size: 1.6rem;
  }
  
  .actionButton {
    border: none;
    background: none;
  }
  
  #editIcon {
    color: #7C8C03;
    font-size: 1.4rem;
  }
  
  #deleteIcon {
    color: #A60303;
    font-size: 1.4rem;
  }
  
  .actionButton:hover .editIcon {
    color: #6f7c02; 
  }
  
  .actionButton:hover .delete-icon {
    color: #8b0202; 
  }
  
  .adminPageContainer{
    background-color: #F2F2F2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Borda esfumaçada */
    width: 90%;
    margin: 40px auto;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .cadastrarButton {
    background-color: #7C8C03;
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .cadastrarButton:hover {
    background-color: #6f7c02;
  }
  
  .barraTitulo {
    background-color: #F29F05;
    color: white;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
  }

  .msgVazia {
    display: flex;
    justify-content: center; /* Centraliza o texto horizontalmente */
    align-items: center;     /* Centraliza o conteúdo verticalmente */
    text-align: center;      /* Alinha o texto no centro */
    margin: 20px 0;          /* Margem superior e inferior de 20px */
    padding: 20px;           /* Espaçamento interno */
    color: #6f7c02;              /* Cor do texto */
    font-size: 18px;          /* Tamanho da fonte */
  }
  