  input[type="file"] {
    display: none;
  }

  .userInfo {
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .userInfo p {
    margin: 0;
    padding: 5px 0;
  }
  .Voltar {
    background: #A60303;
    color: #F2F2F2;
    border-radius: 10px;
    padding: 5px 10px;
    margin-top: 10px;
    border: none;
    width: 75px;
  }

  .Voltar:hover {
    background-color: #F2F2F2;
    border: #A60303 1px solid;
    color: #A60303;
  }
  .Editar {
    background: #7C8C03;
    color: #F2F2F2;
    border-radius: 10px;
    padding: 5px 10px;
    margin-top: 10px;
    border: none;
    width: 75px;
  }

  .Editar:hover {
    background-color: #F2F2F2;
    border: #6f7c02 1px solid;
    color: #6f7c02;
  }

  .TituloDetalhes{
    font-size: 20px;
    font-weight: bold;
    color: #7C8C03;
  }

  .btnAlterarFoto{
    background: #7C8C03;
    color: #F2F2F2;
    border-radius: 10px;
    padding: 5px 10px;
    margin-top: 10px;
    border: none;
    width: 150px;
    cursor: pointer;
    margin-left: 5px;
  }

  .btnAlterarFoto:hover{
    background-color: #F2F2F2;
    box-shadow: inset 0 0 0 1px #6f7c02;
    color: #6f7c02;
  }

  @media screen and (max-width: 767px) {
    .inputField{
      padding: 5px;
      margin: 5px 0px;
      border: none;
      background: #b8b8b8;
      border-radius: 10px;
      min-width: 250px;
    }
  
    .label{
      color: #7C8C03;
      font-weight: bold;
      margin: 0px 5px;
      width: 250px;
    }

    .containerDescricao{
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  
    .imgEnviada{
      width: 100px;
    }
  
    .produtoInfo{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  
    .ContainerImagemProduto{
      width: 200px;
    }
 
    .imgProduto{
      width: 150px;
      border: 1px solid #7C8C03;
      border-radius: 10px;
      margin-left: 25px;
    }
    
    .btnAlterarFoto{
      margin-left: 20px;
    }
  }

  @media screen and (min-width: 767px) {

    .inputField{
      padding: 5px;
      margin: 5px 0px;
      border: none;
      background: #b8b8b8;
      border-radius: 10px;
      min-width: 220px;
    }
  
    .label{
      color: #7C8C03;
      font-weight: bold;
      margin: 0px 5px;
      width: 200px;
    
    }

    .containerDescricao{
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding: 30px;
    }
  
    .imgEnviada{
      width: 100px;
    }
  
    .produtoInfo{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  
    .ContainerImagemProduto{
      width: 200px;
    }
    
    .imgProduto{
      width: 150px;
      border: 1px solid #7C8C03;
      border-radius: 10px;
      margin: 10px;
    }
  }

  
