.userTable {
    margin-top: 20px;
  }

.tableHeader {
  background-color: #F29F05;
  color: white;
  z-index: 10;
  position: sticky; 
  top: 0; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.barraTitulo {
  background-color: #F29F05;
  color: white;
  padding: 3px;
  text-align: center;
  font-weight: bold;
  margin: 10px 0px;
  font-weight: bold;
  font-size: 1.2rem;
}

.scrollContainer {
  max-height: 68dvh;
  overflow-y: auto; 
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h2, .header button {
  margin: 5px 20px;
}

.exportButton{
  background-color: #7C8C03;
  color: white;
  padding: 5px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .TamanhoFormPesquisa {
    display: block;
    width: 320px;
    box-sizing: border-box;
  }

  #filtroPesquisa {
    border-radius: 10px;
    border: 1px solid #7C8C03;
    width: 320px;
    box-sizing: border-box;
  }

  .MobileOcult {
    display: none;
  }
  
}
