.bgFiltro {
    background: #7C8C03;
    border: none;
    padding: 8px 10px;
    border-radius: 10px 0px 0px 10px;
  }
  
  .bgFiltro:hover {
    background: #f2f2f2;
    color: #7C8C03;
    box-shadow: inset 0 0 0 1px #7C8C03;
    font-weight: bold;
  }